<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>F1 Drivers Quiz</title>
  <link rel="stylesheet" href="/static/main.css">


</head>
<body>

<button class="button"onclick="location.href='/'">↵</button>

<form action="/iodriver" method="POST">
  <p>Year: {{ year }}</p>
  <p>Anwser:</p>
  <input name="year_id" value="{{ year_id }}" hidden>
  <input name="year" value="{{ year }}" hidden>
  <div class="test">
    <input type="text" name="answer" autocomplete="off" autofocus>
  </div>

  <div class="test">
    <input type="submit" value="Check">
  </div>
  <p>Result: {{ result }}</p>
  <p> Points: {{ points }}/73</p>
</form>
</body>
