<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>F1 Random Constructors Quiz</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="mobilecenter">
    <button class="button button1" onclick="location.href='/'">↲</button>
  </div>

  <form action="/rndcons" method="POST">
    <p>Year: {{ year }}</p>
    <p>Anwser:</p>
    <input name="year_id" value="{{ year_id }}" hidden>
    <input name="year" value="{{ year }}" hidden>
    <div class="test">
      <input type="text" name="answer" autocomplete="off" autofocus>
    </div>
    <div class = "test">
      <input type="submit" value="Check">
    </div>
    <p>Result: {{ result }}</p>
  </form>

</body>
